################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonCherryPiack/.vs/JsonCherryPiack/v15/Server/sqlite3/db.lock
/JsonCherryPiack/bin
/JsonCherryPiack/obj
/JsonCherryPiack/packages
/JsonCherryPiack/.vs